.header {
    background: #0F1831;
    color: #fff;
    padding: 1em;
    margin: 0 auto;
    margin-bottom: 1%;
    border-bottom: 1px solid #777;
}

.panel {
    max-width: 910px;
    margin: 0 auto;
}

.canvas {
    border: 2px solid black;
    background: #FFF;
}

#canvas-message {
    text-align: center;
    font-weight: bold;
    margin: 0 1em;
}

.content {
    margin: 0;
}

h1 {
    margin: 0;
}

@media (min-width: 48em) {
    .content {
        padding: 0.5em 1em 0;
        margin: 0;
    }

    .header {
        padding: 1em;
        margin: 0 auto;
        margin-bottom: 1%;
        text-align: center;
    }

    .sidebar {
        position: static;
        border: none;
    }
}